!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Shoppe
		%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}/
		= stylesheet_link_tag    'application', media: 'all'
		= javascript_include_tag 'application'
		= csrf_meta_tags
	%body
		.container-fluid
			.row.col-md-12
				%h1
				%a.navbar-brand{:href => "/"} Sea Animal Pet Store
				%nav
					%ul.nav.navbar-nav.navbar-right
						%li
							%a{:href => "/users/new"} Sign Up
						%li
							%a{:href => "/users/login"} Log in
		.container
		- flash.each do |message_type, message|
			- message.each do |x|
				%div{:class => "alert alert-#{message_type}"}= x
	= yield
