!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
		%title Shoppe
		%link{:crossorigin => "anonymous", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", :integrity => "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", :rel => "stylesheet"}/
		= javascript_include_tag 'application'
		= stylesheet_link_tag    'application', media: 'all'
		%script{:crossorigin => "anonymous", :integrity => "sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", :src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"}
		= csrf_meta_tags
	%body
		%nav.navbar
			.container-fluid
				.navbar-header
					%a.navbar-brand{:href => "/"} Sea Animal Pet Store
				%ul.nav.navbar-nav.navbar-right
					- if !user_signed_in?
						%li
							=link_to "Register", new_user_registration_path
						%li
							=link_to "Login", new_user_session_path
					- else
						%li
							=link_to "Cart", cart_path, id: "cart_nav"
						%li
							=link_to "Profile", profile_path
						- if current_user.admin
							%li
								=link_to "Admin", categories_path
						%li
							=link_to "Log out", destroy_user_session_path, method: :delete
		.container
		- flash.each do |message_type, message|
			- if message.is_a?(Array)
				- message.each do |x|
					%div{:class => "alert alert-#{message_type}"}= x
			- else
				%div{:class => "alert alert-#{message_type}"}= message
	.container
		= yield
