.individual-animal.col-md-3
  %p
    %strong= animal.name
  %p= "Species: #{animal.species}"
  %p= "Bio: #{animal.details}"
  %p= "Price: #{animal.price}"
  %p= "Quantity: #{animal.quantity}"
  %img{src: animal.img_url, style: "width: 100px;"}/

  - if @admin
    .row
      = link_to "Obliterate #{animal.name}", [animal.category, animal], method: :delete, data: {confirm: 'Are you sure?'}
    .row
      = link_to "Edit #{animal.name}", edit_category_animal_path(animal.category, animal)
