.individual-animal.col-md-3.col-lg-3
  %p
    %strong= animal.name
  %p= "Species: #{animal.species}"
  - if (animal.details.length > 35)
    %p= "Bio: #{animal.details[0..35]}..."
  - else
    %p= "Bio: #{animal.details}"
  %p= "Price: #{animal.price}"
  %p= "Quantity: #{animal.quantity}"
  %img{src: animal.img_url, style: "width: 100px;"}/

  - if @admin
    .row
      = link_to "Obliterate", animal_path(animal), style: "text-align: right; position: absolute; bottom: 0; right: 10px", method: :delete, data: {confirm: 'Are you sure?'}
      = link_to "Edit", edit_animal_path(animal), style: "position: absolute; bottom: 0", id: "edit_animal_#{animal.id}"

  - else
    .row
      -if animal.quantity == 0
        %div{style: "left: 5em; position: absolute; bottom: 0; color: #aaa" }Add to cart
      - else
        = link_to "Add to cart", "order/#{animal.id}", method: :post, remote: true, style: "left: 5em; position: absolute; bottom: 0", class: "add_cart"
