=form_for([@category, @animal]) do |f|
  %label
    = f.label :name
  %p
    = f.text_field :name
  %label
    = f.label :species
  %p
    = f.text_field :species
  %label
    = f.label :details
  %p
    = f.text_area :details
  %label
    = f.label :img_url
  %p
    = f.text_field :img_url
  %label
    = f.label :quantity
  %p
    = f.text_field :quantity
  %label
    = f.label :price
  %p
    = f.number_field :price
  %label
    = f.submit
