.container
	%h1.category-show-title	
		= @category.name


	%h3 Animals

	.col-md-12
		= render @category.animals


	- @animal = @category.animals.build
	.row.col-md-12
		%h3 Add an Animal
		= render 'animals/form'

	.row.col-md-12
		= link_to 'Edit', edit_category_path(@category)
		= link_to 'Back', categories_path
